@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

#gsap-main {
  overflow-x: hidden;
}
section.gsap-container {
  min-height: 100vh;
  padding-top: 0;
  position: relative;
}
.main-container {
  position: relative;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 280px;
}
.gsap-container .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gsap-container .content h1 {
  font-family: "Anton", sans-serif;
  font-size: 9rem;
}

.gsap-container .portfolio-img {
  position: absolute;
  top: 109px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.portfolio-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gsap-container .small-text-msg {
  position: absolute;
  left: 20%;
  top: 33%;
  width: 250px;
  height: 250px;
}

.gsap-container .small-text-msg img {
  width: 100%;
  height: 100%;
}

.gsap-container .bye-text-msg {
  position: absolute;
  right: 20%;
  top: 45%;
  width: 250px;
  height: 250px;
  z-index: -4;
}

.gsap-container .bye-text-msg img {
  width: 100%;
  height: 100%;
}

/* .gradient-cericle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, #000000, rgba(255, 255, 255, 0.3));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  opacity: 0;
} */
.gradient-cericle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: radial-gradient(circle, #000 0%, #000 60%, transparent 100%);
  opacity: 0;
  z-index: 999;
  pointer-events: none;
}

.gsap-container .overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gsap-container .overlay h2 {
  color: rgb(38, 31, 237);
  font-family: cursive;
  /* transform: rotate(331deg); */
}

.scrollTriger-section {
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scroll-wrapper-horizontal {
  display: flex;
  width: max-content;
  gap: 20px;
  /* justify-content: space-around; */
}

.box {
  width: 100px;
  height: 100px;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: crimson;
  color: #fff;
}

section.title{
  text-align: center;
}

.flower{
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 150px;
  height: 150px;
  z-index: 999999999;
}

.flower img{
  width: 100%;
  display: block;
}
